<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Revision{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="optimus">
        <meta name="keyword" content="Cissoune">
        <link rel="shortcut icon" href="{{ asset('bundles/questionnaire/Back/img/maeva_rond.jpg') }}">

        <!-- Bootstrap core CSS -->
        {% stylesheets 'bundles/questionnaire/Front/css/*' filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}




        <link href="{{ asset('bundles/questionnaire/Back/css/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/questionnaire/Front/css/mycustom_style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/questionnaire/Back/css/bootstrap-reset.css') }}" rel="stylesheet" />

        <link href="{{ asset('bundles/questionnaire/Back/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

        <link href="{{ asset('bundles/questionnaire/Back/css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/questionnaire/Back/css/style-responsive.css') }}" rel="stylesheet" />


        <!--external css-->
        <link href="{{ asset('bundles/questionnaire/Front/assets/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/questionnaire/Front/assets/bxslider/jquery.bxslider.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/questionnaire/Front/assets/fancybox/source/jquery.fancybox.css') }}" rel="stylesheet" />

        <link href="{{ asset('bundles/questionnaire/Front/assets/revolution_slider/css/rs-style.css') }}" rel="stylesheet" />
        <link href="{{ asset('bundles/questionnaire/Front/assets/revolution_slider/rs-plugin/css/settings.css') }}" rel="stylesheet" />
        <!-- Custom styles for this template -->

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
        <script src="{{ asset('bundles/questionnaire/Front/js/html5shiv.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/respond.min.js') }}" type="text/javascript" />
        <![endif]-->
    </head>
    <body>
    <!--header start-->
    <header class="header-frontend">
        <div class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header ">

                    <a class="custom-header" href="index.html">Prépa<span>Concours</span> <img width="50px" src="{{ asset('bundles/questionnaire/Back/img/maeva_rond.jpg') }}" alt=""/></a>
                        <form action="{{ path('fos_user_security_logout') }}" method="GET">
                            <input class="fa fa-bars navbar-toggle" type="submit" value="Se déconnecter"/>
                        </form>
                </div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                {% endif %}
            </div>
        </div>
    </header>
    {% block body -%}

    {% endblock %}
    {% block javascripts %}

        <script src="{{ asset('bundles/questionnaire/Front/js/jquery.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/bootstrap.min.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/jquery-1.8.3.min.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/hover-dropdown.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/assets/bxslider/jquery.bxslider.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/jquery.flexslider.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/jquery.parallax-1.1.3.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/jquery.easing.min.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/link-hover.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/assets/fancybox/source/jquery.fancybox.pack.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/assets/revolution_slider/rs-plugin/js/jquery.themepunch.plugins.min.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/assets/revolution_slider/rs-plugin/js/jquery.themepunch.revolution.min.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/common-scripts.js') }}" type="text/javascript" />
        <script src="{{ asset('bundles/questionnaire/Front/js/revulation-slide.js') }}" type="text/javascript" />

        <script>

            RevSlide.initRevolutionSlider();

            $(window).load(function() {
                $('[data-zlname = reverse-effect]').mateHover({
                    position: 'y-reverse',
                    overlayStyle: 'rolling',
                    overlayBg: '#fff',
                    overlayOpacity: 0.7,
                    overlayEasing: 'easeOutCirc',
                    rollingPosition: 'top',
                    popupEasing: 'easeOutBack',
                    popup2Easing: 'easeOutBack'
                });
            });

            $(window).load(function() {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function(slider) {
                        $('body').removeClass('loading');
                    }
                });
            });

            //    fancybox
            jQuery(".fancybox").fancybox();
        </script>
        <script>
            // Récupère le div qui contient la collection de tags
            var collectionHolder = $('ul.tags');

            // ajoute un lien « add a tag »
            var $addTagLink = $('<a href="#" class="add_tag_link">Ajouter un tag</a>');
            var $newLinkLi = $('<li></li>').append($addTagLink);

            jQuery(document).ready(function() {
                // ajoute l'ancre « ajouter un tag » et li à la balise ul
                collectionHolder.append($newLinkLi);

                $addTagLink.on('click', function(e) {
                    // empêche le lien de créer un « # » dans l'URL
                    e.preventDefault();

                    // ajoute un nouveau formulaire tag (voir le prochain bloc de code)
                    addTagForm(collectionHolder, $newLinkLi);
                });
            });
        </script>
    {% endblock %}

    </body>
</html>








